<div class="footer-logo">
    <img src="images/Marvel_Logo_Dark.webp" alt="Marvel Logo Dark" width="100px">
</div>

<div>
    <nav>
        <ul class="menuLinks-footer">
            <li><a href="">Home Page</a></li>
            <li><a href="">Store</a></li>
            <li><a href="">Library</a></li>
        </ul>
    </nav>
</div>
<div class="footer-social"> 
    <h3>Follow a Marvelous Marvel</h3>
    <a href="https://www.facebook.com/MarvelLatinoamerica/?brand_redir=6883542487&locale=es_LA#" target="_blank"><img src="images/facebookicon.webp" loading="lazy" alt="Facebook" width="40"></a>
    <a href="https://www.instagram.com/marvel/" target="_blank"><img src="images/instagramicon.webp" loading="lazy" alt="Instagram" width="40"></a>
    <a href="https://www.youtube.com/@marvel" target="_blank"><img src="images/youtubeicon.webp" loading="lazy" alt="Youtube" width="40"></a>
    <a href="https://www.tiktok.com/@marvel?lang=en" target="_blank"><img src="images/tiktokicon.webp" loading="lazy" alt="Tik Tok" width="40"></a>
    <a href="https://x.com/marvel" target="_blank"><img src="images/xicon.webp" loading="lazy" alt="X.com" width="40"></a>
    <a href="https://www.pinterest.com/marvel/" target="_blank"><img src="images/pinteresticon.webp" loading="lazy" alt="Pinterest" width="40"></a>
</div>  

<p> &copy; <span id="currentyear"></span> Copyright | Marvel Application | WDD330</p>