@media (max-width: 600px) {
    /*The following code is to render the transition for the nav bar (Header Styling)*/
    #main-navigation {
        display: grid;
        overflow: hidden;
        grid-template-rows: 0fr; /*Here you define the start*/
        transition: grid-template-rows 0.5s ease-out; /*Here you define the transition */
    }
    #main-navigation ul {
        overflow: hidden; /*Here you hidden the overflow*/
    }
    #main-navigation.open {
        grid-template-rows: 1fr; /*Here you define the end*/
    }
    .menuLinks {
        display: block; 
    }
    .menuLinks li a {
        width: 100%;
    }
    .menuLinks a:hover {
        background-color: var(--secondary-color);
        color: var(--contrast-color);
    }

    /*To set or resize the button and its content*/
    #myButton {
        display:block;
    }
    #myButton::before {
        content: "𓃑";
    }
    #myButton.open::before {
        content: "𓏬";
    }
    #myButton {
        font-size: 2rem;
        background: none;
        border: none;
        color: var(--contrast-color);
        cursor: pointer;
        padding: 0 0.5rem 0.5rem;
        justify-self: end;
    }
    #numberItems {
       display: none;
    }

    /*Footer Styling*/
    footer{
        background: var(--secondary-color);
        display: flex;
        flex-direction: column;
    }
    .footer-logo img {
        width: 150px;
    }
    footer p{
        font-size: 0.8em;
        color: var(--contrast-color);
    }
    .footer-social{

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding: 20px 10px;
    }
    .footer-social h3 {
        grid-column: 1/7;
        padding: 0;
        color: var(--contrast-color);
    }
    .menuLinks-footer li a {
        color: var(--contrast-color);
    }
    .menuLinks-footer li a:hover {
        text-decoration: none;
    }

    /*This code is for designing the home page*/
    .home-hero-image{
        background-image: linear-gradient(rgba(255, 230, 230, 0.25), rgb(0, 0, 0, 1)), url(https://awsimages.detik.net.id/community/media/visual/2024/05/13/marvel-cinematic-universe_34.png?w=700&q=90);
    }
    .hero-text{
        width: 400px;
    }
    .hero-text h1{
        font-size: 3.5rem;
    }
    .hero-text p{
        font-size: 1.2rem;
    }
    /*This following code is for designing the store page*/
    .store-hero-image{
        background-image: linear-gradient(rgba(255, 230, 230, 0.2), rgb(0, 0, 0, 1)), url(https://i.redd.it/1gom3fw5j4m71.jpg);
    }
    .store-hero-text{
        width: 400px;
    }
    .store-hero-text h1 {
        font-size: 1.3em;
    }
    /*This following code is for designing the library page*/
    .library-hero{
        background-image: linear-gradient(rgba(255, 230, 230, 0.2), rgb(0, 0, 0, 1)), url(https://i.ebayimg.com/images/g/GIAAAOSwV69c4dvH/s-l1200.jpg);
    }
    .library-hero div{
        width: 400px;
    }
    .library-hero div h1 {
        font-size: 3em;
        color: var(--contrast-color);
    }
    .library-hero div p {
        font-size: 1.2em;
    }
    /*This code is for design of the store page*/
    .section-gallery{
        flex-direction: column;
        width: 400px;
    }
    
    .filters nav{
        width: 400px;
        
    }
    #displayCards{
        grid-template-columns: 1fr 1fr;
    
    }
    #buttonDisplay { 
        display: block;  
        width: 100%;
        padding: 10px 0;
        border: none;
        background-color: white;
        font-family: var(--font-headers);
        font-size: 30px;
        color: var(--primary-color);
        border-radius: 8px;
    }
    #buttonDisplay::before {
        content: "Filters";
    }
    #buttonDisplay.open::before {
        content: "See what's next ↓";
    }
    #animated-metFilter {
        display: grid; 
        grid-template-rows: 0fr; /*Here you define the start*/
        transition: grid-template-rows 0.5s ease-out; /*Here you define the transition */
        
    }
    #animated-metFilter ul {
        overflow: hidden; /*Here you hidden the overflow*/
        background-color: #FCC200;
    }
    #animated-metFilter a {
        
        color: var(--secondary-color);
    }
    #animated-metFilter.open {
        grid-template-rows: 1fr; /*Here you define the end*/
    }
    .menuLinksFilter a:hover{
        background-color: #FCC200;
        color: var(--contrast-color);
    }
} 




@media (min-width: 1900px) {
    .home-hero-image{
        background-image: linear-gradient(rgba(255, 230, 230, 0.25), rgb(0, 0, 0, 1)), url(https://cdn.marvel.com/content/1x/theavengers_lob_mas_dsk_03_1.jpg);
    }

}  